@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<PageTitle>Burgurr</PageTitle>

<h1>Burgers of the day</h1>
<ul>
    @foreach (var burger in burgers)
    {
        <li>@burger.Id</li>
    }
</ul>

@code {
    List<Burger> burgers = new List<Burger>();

    protected override async Task OnInitializedAsync()
    {
         // burgers = await HttpClient.GetFromJsonAsync<List<Burger>>(NavigationManager.BaseUri + "specials");
    } 
}
